html {
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	html {
		color: white;
	}

	.default_background {
		background-color: rgb(27, 38, 54);
	}
}

@media (prefers-color-scheme: light) {
	html {
		color: black;
	}

	.default_background {
		background-color: rgb(228, 217, 201);
	}
}

body {
	margin: 0;
	font-family: "Neo둥근모code", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}


@font-face {
	font-family: "Neo둥근모code";
	src: local(""),
		url("assets/fonts/neodgm_code.woff2") format("woff2");
}

#app {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	text-align: center;
	pointer-events: none;
}

table {
	margin-left: auto;
	margin-right: auto;
}

th {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}

td {
	text-align: left;
	margin: 1pt;
	padding-bottom: 8pt;
}

input {
	font-family: "D2Coding", monospace;
	font-size: 1em;
	font-variant-numeric: tabular-nums;
	user-select: all;
	max-width: 400px;
}

input.number {
	text-align: right;
}

.messageBox {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: darkgreen;
	color: white;

	padding: 1em;
	opacity: 1;
}

.processBox {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: gray;
	color: black;

	padding: 1em;
	opacity: 1;
}

.errorBox {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: darkred;
	color: white;

	padding: 1em;
	opacity: 1;
}

.loader001 {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	color: #003DFF;
}
.loader001:before,
.loader001:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
}
.loader001:after {
	color: #FF3D00;
	transform: rotateY(70deg);
	animation-delay: .4s;
}
@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}
@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@keyframes spin {
	0%,
	100% {
		box-shadow: .2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: .2em .2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 .2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -.2em .2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -.2em -.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: .2em -.2em 0 0 currentcolor;
	}
}